<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Crearaices</title>
        <link rel="stylesheet" href="/static/core/css/colores.css">
    </head>
    <body>
        <header>
            <div class="container">
                <img src="/static/core/img/imagenlog.jpg" alt="" width="100" height="100" >
                <p class="logo">Crearaices</p>
                <nav>
                    <a href="/home">Inicio</a>
                    <a href="/productos">Productos</a>
                    <a href="/home#crearaices">Nosotros</a>
                    <a href="/home#lomasvendido">Descuentos</a>
                    <a href="/home#caracteristicas">Informacion</a>
                </nav>     
                <form id="logbotooon" action=https://klaudeke.github.io/CreaRaices/Inicio2.html>
                    <button class="button-login">Login</button>
                </form>
            </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <h2>Modificar Usuario</h2>
        </div>
        <div class="container">
            <form method="post" action="" id="formulario">
                {% csrf_token %}
                <div class="form-group">
                {{ form.as_table}}    
                </div>

            <input type="submit" class="btn btn-danger" id="Modificar" value="Eliminar">
            <input type="reset" class="btn btn-primary" id="Limpiar" value="Limpiar">
            <div id="error" class="alert alert-danger" role="alert"></div>    
            </form>
            <div class="alert alert-success" role="alert">
                {{mensaje}}
            </div>    
        </div>
    
        <br>

        
        <section id="final">
            <h2>Listo para ayudar al planeta ?</h2>
            <form action="/productos">
                <button>+ Compra YA</button>
            </form>
        </section>
    
        <footer>
            <div class="container">
                <p>&copy; Crearaices - (Fundacion Adopta un Peludo)</p>
            </div>
        </footer>
        
</body>
</html>
